@import "bootstrap";
@import "filters";
@import "loader_indicator";
@import "ionicons";
@import "select2";
@import "select2-bootstrap";
@import "jquery.stickytable";

.signin-wrapper {
  width: 100%;
  padding: 100px 0;
  text-align: center;
}
