@import "bootstrap";
@import "filters";
@import "loader_indicator";
@import "ionicons.css";
@import "select2.css";
@import "select2-bootstrap.css";
@import "jquery.stickytable";

.main-page-wrapper {
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

.access-error-message {
  font-size: 18px;
}
