.modal-body-height {
  max-height: 50vh;
  overflow: auto;
}

#header-fixed {
  position: fixed;
  top: 0px;
  display:none;
  background-color:white;
}

.table-container {
  max-width: 100%;
  overflow: auto;
}

.simple-link {
  padding: 0;
  margin: 0;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

.xx-small-font {
  font-size: xx-small;
}

.v-align-middle {
  vertical-align: middle !important;
}

.v-align-top {
  vertical-align: top !important;
}
