google_app_id: 174074758612-triilhcc324lrcuqpv9.apps.googleusercontent.com
google_app_secret: umaQYAjqaieckrT

development:
    google_sorcery_callback_url: http://localhost:3000/oauth/callback?provider=google
production:
    google_sorcery_callback_url: http://maxscale-test.mariadb.net/oauth/callback?provider=google