%nav{"aria-label" => "Table navigation"}
  %ul.pagination
    %li.page-item
      %a#firstTablePageButton.page-link{"aria-label" => "Previous"}
        %span{"aria-hidden" => "true"}
          = ion_icon('ios-skipbackward')
        %span.sr-only First
    %li.page-item
      %a#previousTablePageButton.page-link{"aria-label" => "Previous"}
        %span{"aria-hidden" => "true"}
          = ion_icon('arrow-left-b')
        %span.sr-only Previous
    %li.page-item
      %a#currentPageLabel.page-link -1
    %li.page-item
      %a#nextTablePageButton.page-link{"aria-label" => "Next"}
        %span{"aria-hidden" => "true"}
          = ion_icon('arrow-right-b')
        %span.sr-only Next
    %li.page-item
      %a#lastTablePageButton.page-link{"aria-label" => "Next"}
        %span{"aria-hidden" => "true"}
          = ion_icon('ios-skipforward')
        %span.sr-only Last