%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => root_path} Maxscale test visualizer
  %button.navbar-toggler{"aria-controls" => "navbarNavAltMarkup", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavAltMarkup", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      %a.nav-item.nav-link{:href => test_run_path, :class => "#{'active' if current_page?(test_run_path)}"} Test run
      %a.nav-item.nav-link{:href => performance_test_run_path, :class => "#{'active' if current_page?(performance_test_run_path)}"} Performance test run
      %a.nav-item.nav-link{:href => performance_test_run_qps_path, :class => "#{'active' if current_page?(performance_test_run_qps_path)}"} Performance test run QPS