%table.table.table-sm
  %thead
    %tr
      %th{:scope => "col"} Test Name \ Tests Run
      - @last_test_runs.each do |test_run|
        %th{:scope => "col"}
          = test_run.id
  %tbody
    - @tests_names.each do |test_name|
      %tr
        %th{:scope => "row"}
          = test_name.test

        - @last_test_runs.each do |test_run|
          %td
            = format_test_result @tests_results.result_for_test_and_test_run(test_name.test, test_run.id)

